.location {
	padding: 1rem; /* Padding reducido */
	background-color: rgb(11, 40, 46); /* Fondo oscuro */
	display: flex;
	justify-content: center;
	align-items: flex-start; /* Pegado hacia arriba */
	min-height: auto; /* Fondo lo más corto posible */
}

.location_container {
	background-color: rgb(8, 35, 39); /* Color de la carta */
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	padding: 1.5rem;
	width: 80%; /* Más ancho */
	max-width: 550px; /* Ancho máximo aumentado */
	text-align: center;
	margin-top: 1rem; /* Más pegado arriba */
}

.location_name {
	font-size: 1.75rem; /* Tamaño de fuente reducido */
	color: #70a925; /* Color verde para el nombre */
	margin-bottom: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.2); /* Línea divisoria sutil */
	padding-bottom: 1rem;
}

.location_info {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 1rem; /* Espacio entre los ítems */
	justify-content: center; /* Centrar los cuadritos */
	flex-wrap: wrap; /* Ajustar en pantallas pequeñas */
}

.location_item {
	font-size: 1rem; /* Tamaño de fuente reducido */
	color: #c0c0c0; /* Texto gris claro */
	text-transform: capitalize;
	background: rgba(
		255,
		255,
		255,
		0.1
	); /* Fondo semi-transparente para cada ítem */
	padding: 1rem;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.2); /* Borde sutil */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	flex: 1 1 200px; /* Hacer los cuadritos flexibles y más pequeños */
	max-width: 135px; /* Ancho máximo de los cuadritos */
}

.location_span {
	color: #ffffff; /* Texto blanco para resaltar */
	font-weight: bold;
	margin-right: 0.5rem;
}
